/* Wrapper */
.homePage {
  display: flex;
  margin: 40px auto 0 auto;
  width: 97%;
  max-width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Sivupalkin wrapper vasemmalla */
.sideWrapper {
  width: 310px;
}

/* Sisältöalueen wrapper */
.contentWrapper {
  flex: 1 0 50%;
  margin-left: 40px;
}

/* ChatBoxin wrapper */
.chatWrapper {
  margin-top: 20px;
  right: 0;
  flex-basis: 100%;
  display: flex;
  background-color: burlywood;
  height: 60px;
}
