body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fefefe;
}

/* Aseta bodyn taustaksi kuva ja sille 50% näkyvyys (opacity) */
body:after {
  content: '';
  background: url(https://biz-charts.s3.eu-north-1.amazonaws.com/what-the-hex.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
